@import "../../assets/styles/base.less";
.detailWrap {
    font-size: 14px;
    background: #fff;
    .item {
        text-align: left;
        padding: 15px 10px;
        line-height: 30px;
        .head {
            .img {
                float: left;
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ddd;
                border-radius: 50%;
                margin: 0 auto;
                overflow: hidden;
                img {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #999;
                }
            }
            .name {
                display: block;
                line-height: 20px;
                margin-left: 10px;
                text-indent: 10px;
            }
            .time {
                display: block;
                text-indent: 10px;
                color: #999;
            }
        }
        .itemContent {
            display: block;
            margin-left: 50px;
            .title {
                font-size: 16px;
                color: #333;
                font-weight: bold;
                margin: 3px 0;
            }
            .des {
                font-size: 14px;
                line-height: 20px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
            }
        }
        .icons {
            height: 30px;
            margin: 30px -10px -15px -10px;
            margin-bottom: -15px;
            line-height: 30px;
            color: #bfbfbf;
            text-align: center;
            span {
                position: relative;
                float: right;
                display: block;
                width: 33%;
                height: 30px;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    vertical-align: top;
                }
                label {
                    display: inline-block;
                    height: 30px;
                    min-width: 30px;
                    vertical-align: top;
                    text-align: left;
                }
            }
            .review {
                color: #1296db;
            }
            .review::after {
                content: ' ';
                display: block;
                height: 1px;
                width: 80px;
                background: #1296db;
                margin: 0 auto;
            }
        }
    }
    .reviewList {
        border-top: 1px solid #ddd;
        padding: 10px;
        margin-bottom:50px;
         
        .reviewItem {
            position: relative;
            text-align: left;
            padding: 5px 0px 5px 10px;
            line-height: 30px;
            margin-bottom: 10px;
            .head {
                .img {
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    margin: 0 auto;
                    background: #fff;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #999;
                    }
                }
                .name {
                    display: block;
                    line-height: 20px;
                    margin-left: 10px;
                    text-indent: 10px;
                }
            }
            .itemContent {
                display: block;
                margin-left: 40px;
                font-size: 14px;
                line-height: 20px;
                .des {
                    line-height: 20px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
                .time {
                    display: block;
                    font-size: 10px;
                    color: #999;
                }
            }
        }
        .reviewItem::after {
            position: absolute;
            right: 0;
            bottom: 0;
            content: ' ';
            display: block;
            width: 87%;
            height: 1px;
            background: #eee;
        }
        .reviewItem:last-child::after {
            display: none;
        }
        .reviewItemList {
            margin: 0px 0 -5px 40px;
            padding-top: 5px;
            background-color: rgb(248, 248, 248);
            .reviewItem2 {
                position: relative;
                padding: 5px;
                
                .name {
                    float: left;
                    margin: 0;
                    color: #1296db;
                }
                .itemContent {
                    margin-left:45px;
                }
            }
            .reviewItem2::after {
                position: absolute;
                right: 0;
                bottom: 5px;
                content: ' ';
                display: block;
                width: 87%;
                height: 1px;
                background: #eee;
            }
            .reviewItem2:last-child::after {
                display: none;
            }
        }
    }
}

.reviewText {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 34px;
    padding: 5px;
    background: #fff;
    border-top: 1px solid #eee;
    input {
        float: left;
        text-indent: 10px;
        width: 84%;
        height: 30px;
        background: #eee;
        border-radius: 5px;
        border: none;
    }
    i.iconfontBlue {
        font-size: 30px;
        margin: 10px;
    }
}