html,
body,
ul,
ol,
dl,
li,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: '微软雅黑';
  font-size: 14px;
}
html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  zoom: 1;
}
a {
  color: #333;
}
.colorBlack {
  color: #333;
}
.bold {
  font-weight: bold !important;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: visible;
  clear: both;
}
@font-face {
  font-family: 'iconfont';
  /* project id 481348 */
  src: url('//at.alicdn.com/t/font_481348_ba3vlzc2imcgnwmi.eot');
  src: url('//at.alicdn.com/t/font_481348_ba3vlzc2imcgnwmi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_481348_ba3vlzc2imcgnwmi.woff') format('woff'), url('//at.alicdn.com/t/font_481348_ba3vlzc2imcgnwmi.ttf') format('truetype'), url('//at.alicdn.com/t/font_481348_ba3vlzc2imcgnwmi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  color: #afaeae;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfontBlue {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  color: #108ee9;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfontBlack {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfontSmall {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  color: #afaeae;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfontBlueSmall {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  color: #108ee9;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #ececed;
}
.navBar2 {
  border-bottom: 1px solid #ececed;
}
.null {
  padding: 20px 0;
  text-align: center;
  color: #999;
  font-size: 12px;
}
.msgOrange {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: coral;
  border-radius: 50%;
}
body {
  background-color: #fff !important;
  background: #fff !important;
}
.detailWrap {
  font-size: 14px;
  background: #fff;
  margin-top: 45px;
  margin-bottom: -45px;
  min-height: 500px;
}
.detailWrap .item {
  text-align: left;
  padding: 15px 10px;
  line-height: 30px;
}
.detailWrap .item .head .img {
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.detailWrap .item .head .img img {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
}
.detailWrap .item .head .name {
  display: block;
  line-height: 20px;
  margin-left: 10px;
  text-indent: 10px;
}
.detailWrap .item .head .time {
  display: block;
  text-indent: 10px;
  color: #999;
}
.detailWrap .item .itemContent {
  display: block;
}
.detailWrap .item .itemContent .title {
  font-size: 16px;
  line-height: 20px;
  color: #333;
  font-weight: bold;
  margin: 3px 0;
  padding: 5px;
}
.detailWrap .item .itemContent .des {
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  padding: 0 5px;
  /* display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden; */
}
.detailWrap .item .itemContent .des pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}
.detailWrap .item .itemContent .imgs img {
  width: 100%;
  margin: 10px 0;
}
.detailWrap .item .icons {
  height: 35px;
  line-height: 35px;
  color: #bfbfbf;
  text-align: center;
  margin: 10px 0 0 0;
}
.detailWrap .item .icons span {
  position: relative;
  float: left;
  display: block;
  width: 33%;
  height: 30px;
}
.detailWrap .item .icons span i {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
}
.detailWrap .item .icons span label {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  vertical-align: top;
  text-align: left;
}
.detailWrap .item .icons .review {
  color: #1296db;
}
.detailWrap .item .icons .review::after {
  content: ' ';
  display: block;
  height: 1px;
  width: 80px;
  background: #1296db;
  margin: 0 auto;
}
.detailWrap .reviewList {
  border-top: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 50px;
}
.detailWrap .reviewList .reviewItem {
  position: relative;
  text-align: left;
  padding: 5px 0px 5px 10px;
  line-height: 30px;
  margin-bottom: 10px;
}
.detailWrap .reviewList .reviewItem .head .img {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}
.detailWrap .reviewList .reviewItem .head .img img {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #999;
}
.detailWrap .reviewList .reviewItem .head .name {
  display: block;
  line-height: 20px;
  margin-left: 10px;
  text-indent: 10px;
}
.detailWrap .reviewList .reviewItem .itemContent {
  display: block;
  margin-left: 40px;
  font-size: 14px;
  line-height: 20px;
}
.detailWrap .reviewList .reviewItem .itemContent .cnWrap {
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
.detailWrap .reviewList .reviewItem .itemContent .des {
  line-height: 20px;
  padding: 0;
}
.detailWrap .reviewList .reviewItem .itemContent .time {
  display: block;
  font-size: 10px;
  color: #999;
}
.detailWrap .reviewList .reviewItem::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: ' ';
  display: block;
  width: 87%;
  height: 1px;
  background: #eee;
}
.detailWrap .reviewList .reviewItem:last-child::after {
  display: none;
}
.detailWrap .reviewList .reviewItemList {
  margin: 0px 0 -5px 40px;
  padding-top: 5px;
}
.detailWrap .reviewList .reviewItemList .reviewItem2 {
  position: relative;
  padding: 5px;
}
.detailWrap .reviewList .reviewItemList .reviewItem2 .name {
  color: #1296db;
}
.detailWrap .reviewList .reviewItemList .reviewItem2 .uname {
  display: inline-block;
  font-weight: bold;
}
.detailWrap .reviewList .reviewItemList .reviewItem2 .itemContent {
  margin-left: 0;
}
.detailWrap .reviewList .reviewItemList .reviewItem2 .itemContent .des {
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
.detailWrap .reviewList .reviewItemList .reviewItem2::after {
  position: absolute;
  right: 0;
  bottom: 5px;
  content: ' ';
  display: none;
  width: 100%;
  height: 1px;
  background: #eee;
}
.detailWrap .more {
  margin-left: 15px;
  padding: 2px 0;
  color: #333;
}
.reviewText {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #fff;
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: center;
}
.reviewText .rtLeft {
  float: left;
  width: 85%;
  height: 40px;
  overflow: hidden;
  padding: 0px;
}
.reviewText .rtLeft input {
  display: block;
  text-indent: 10px;
  width: 100%;
  height: 30px;
  background: #eee;
  border-radius: 5px;
  border: none;
}
.reviewText .rtRight {
  float: left;
  width: 15%;
  height: 40px;
  line-height: 35px;
}
.reviewText .rtRight i.iconfontBlue {
  display: inline-block;
  font-size: 26px;
  margin-left: -5px;
}
.reviewTextArea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  border-top: 1px solid #eee;
  padding-bottom: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.reviewTextArea .l {
  width: 85%;
  float: left;
}
.reviewTextArea .r {
  width: 15%;
  float: left;
  text-align: center;
  padding: 10px 0;
}
.reviewTextArea .r i {
  font-size: 28px;
}
.reviewTextArea .r :active {
  color: #87d4fd;
}
/* .social-share-icon:hover{
  background:#fff !important;
}

.icon-weibo{

}::before{
  content:'';
  display:none;
}

.icon-wechat:hover{
  background:#fff !important;
}
 */
