@font-face {
    font-family: 'iconfont';  /* project id 481348 */
    src: url('//at.alicdn.com/t/font_481348_vpolqztq589f6r.eot');
    src: url('//at.alicdn.com/t/font_481348_vpolqztq589f6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_481348_vpolqztq589f6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_481348_vpolqztq589f6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_481348_vpolqztq589f6r.svg#iconfont') format('svg');
  }

.iconfont{
    font-family:"iconfont" !important;
    font-size:40px;
    font-style:normal;
    color:#999;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont_blue{
    font-family:"iconfont" !important;
    font-size:40px;
    font-style:normal;
    color:#108ee9;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.detailWrap {
    font-size: 14px;
    background:#fff;
    .item {
        text-align: left;
        padding: 15px 10px;
        line-height: 30px;
        .head {
            img {
                float: left;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border:1px solid #ddd;
            }
            .name {
                display: block;
                line-height: 20px;
                margin-left: 10px;
                text-indent: 10px;
            }
            .time {
                display: block;
                text-indent: 10px;
                color: #999;
            }
        }
        .itemContent {
            display: block;
            .title {
                font-size: 16px;
                color: #333;
                font-weight: bold;
                margin: 3px 0;
            }
            .des {
                font-size: 14px;
                line-height: 20px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                color: #999;
            }
        }
        .icons {
            height: 40px;
            margin: 10px -10px -15px -10px;
            margin-bottom: -15px;
            line-height: 40px;
            color: #bfbfbf;
            text-align: center;
            span {
                position: relative;
                float: right;
                display: block;
                width: 33%;
                height: 40px;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 40px;
                    vertical-align: top;
                }
                label {
                    display: inline-block;
                    height: 40px;
                    min-width: 40px;
                    vertical-align: top;
                    text-align: left;
                }
            }
            .review {
                color: #1296db;
                i {
                    background: ~"url(../../assets/images/message_fill.png) center center / 22px 22px no-repeat";
                    background-position-y: 8px;
                }
            }
            .review::after {
                content: ' ';
                display: block;
                height: 1px;
                width: 80px;
                background: #1296db;
                margin: 0 auto;
            }
            .praise {
                i {
                    background: ~"url(../../assets/images/praise.png) center center / 22px 22px no-repeat";
                    background-position-y: 8px;
                }
            }
        }
    }
    .reviewList {
        border-top: 1px solid #eee;
        padding: 10px;
        .reviewItem {
            text-align: left;
            padding: 15px 10px;
            line-height: 30px;
            .head {
                img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border:1px solid #ddd;
                }
                .name {
                    display: block;
                    line-height: 20px;
                    margin-left: 10px;
                    text-indent: 10px;
                }
            }
            .itemContent {
                display: block;
                margin-left: 50px;
                border-bottom: 1px solid #eee;
                .des {
                    font-size: 14px;
                    line-height: 20px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    color: #999;
                }
                .time {
                    display: block;
                    font-size: 10px;
                    color: #999;
                }
            }
        }
    }
}

.reviewText {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 34px;
    padding: 5px;
    background: #fff;
    border-top: 1px solid #eee;
    input {
        float: left;
        text-indent: 10px;
        width: 84%;
        height: 30px;
        background: #eee;
        border-radius: 5px;
        border: none;
    }
    img {
        float: left;
        width: 30px;
        height: 30px;
        margin-left:10px;
    }
}