.normal {
    font-family: '微软雅黑';
    text-align: center;
    font-size: 14px;
    background-color: #F5F5F9;
}

.iconLife {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/notice.png) center center / 21px 21px no-repeat";
}

.iconLifeSelected {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/notice2.png) center center / 21px 21px no-repeat";
}

.iconMy {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/my.png) center center / 21px 21px no-repeat";
}

.iconMySelected {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/my2.png) center center / 21px 21px no-repeat";
}

.iconCircle {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/circle.png) center center / 21px 21px no-repeat";
}

.iconCircle2 {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/circle2.png) center center / 21px 21px no-repeat";
}

.iconFly {
    width: 40px;
    height: 40px;
    /* border: 1px solid #ddd;
    border-radius: 50%;  */
    background: ~"url(../assets/images/fly.png) center center / 30px 30px no-repeat";
    background-color: #fff;
}

.iconFly2 {
    width: 40px;
    height: 40px;
    background: ~"url(../assets/images/fly2.png) center center / 30px 30px no-repeat";
}

.iconFriend {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/search.png) center center / 21px 21px no-repeat";
}

.iconFriend2 {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/search2.png) center center / 21px 21px no-repeat";
}