.normal {
    font-family: Georgia, sans-serif;
    text-align: center;
}

.iconLife {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/chat.png) center center / 21px 21px no-repeat";
}

.iconLifeSelected {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/chat2.png) center center / 21px 21px no-repeat";
}

.iconMy {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/my.png) center center / 21px 21px no-repeat";
}

.iconMySelected {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/my2.png) center center / 21px 21px no-repeat";
}

.iconCircle {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/fly.png) center center / 21px 21px no-repeat";
}

.iconCircle2 {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/fly2.png) center center / 21px 21px no-repeat";
}
 
.iconFriend {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/friend.png) center center / 21px 21px no-repeat";
}

.iconFriend2 {
    width: 22px;
    height: 22px;
    background: ~"url(../assets/images/friend2.png) center center / 21px 21px no-repeat";
}