@import '../../../assets/styles/base.less';

body{
  background: #F5F5F9 ;
}

.editWrap {
  background: #F5F5F9;
  min-height:100%;

  .listItem{
    background: red;
  }
  border-bottom:1px solid #eee;
}
