@import '../../assets/styles/base.less';
.flyWrap {
    text-align: center;
    background: #fff;
    .title {
        width: 90%;
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 5px;
        margin: 10px auto;
        background: rgb(243, 243, 243);
    }
    .textarea {
        width: 90%;
        line-height: 20px;
        border: none;
        border-radius: 5px;
        margin: 10px auto;
        background: rgb(243, 243, 243);
    }
    .flyBtn {
        margin: 20px 10px;
    }
    .icon {
        width: 22px;
        height: 22px;
        background: ~"url(../../assets/images/fly_white.png) center center / 22px 22px no-repeat";
    }
    .faceWrap {
        margin: 20px 0;
        .iconfont,
        .iconfontBlue {
            font-size: 40px;
            margin: 20px;
        }
    }
}