.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    zoom: 1
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    visibility: visible;
    clear: both
}

.chatList{
    /* border-bottom: 1px solid #eee; */
} 
.headImg {
    width: 40px !important;
    height: 40px !important;
}