body {
    background: rgb(236, 236, 237);
}

.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    zoom: 1
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    visibility: visible;
    clear: both
}

.myWrap {
    .listItem {
        margin-bottom: 10px;
    }
    .logo {
        width: 30px;
        height: 30px;
        background: ~"url(../../assets/images/logo.png) center center / 30px 30px no-repeat";
    }
    .fly {
        width: 30px;
        height: 30px;
        background: ~"url(../../assets/images/fly2.png) center center / 30px 30px no-repeat";
    }
}