.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    zoom: 1
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    visibility: visible;
    clear: both
}

.circleWrap {
    text-align: left;
    .headImg{
        width:50px;
        height: 50px;

    }
    .item{
        margin-bottom: 5px;
        padding:10px 0;
    }
}